<% provide(:title, "お問い合わせ") %>

<div class="container">
<div class="row">
  <div class="">
    <div class="contact">
      <div class="page-title">
        <h1>お問い合わせ</h1>
      </div>
      <%= render "shared/error_notice", model: @contact %>
      <p>必要項目を入力の上、送信してください。運営よりご連絡させていただきます。</p>
      <%= form_with(model:@contact, url: contact_path, method: :post, data: {remote: false}) do |f| %>
        <div class="contact-form">
          <label for="contact_name">名前 <span class="pink-btn form-necessary">必須</span></label>
          <%= f.text_field:name, class: "form-control form-control-lg" %>
        </div>
        <div class="contact-form">
          <label for="contact_email">E-mail <span class="pink-btn form-necessary">必須</span></label>
          <%= f.email_field:email, class: "form-control form-control-lg" %>
        </div>
        <div class="contact-form">
          <label for="contact_title">件名 <span class="pink-btn form-necessary">必須</span></label>
          <%= f.text_field:title, class: "form-control form-control-lg" %>
        </div>
        <div class="contact-form">
          <label for="contact_content">内容 <span class="pink-btn form-necessary">必須</span></label>
          <%= f.text_area:content, id:"textarea", class: "form-control form-control-lg" %>
        </div>
        <div class="contact-submit">
          <%= f.submit "送信する", class: "submit-btn btn-hover orange-btn" %>
        </div>
      <% end %>
    </div>
  </div>
  
</div>
</div>
