<% provide(:title, "サービスの使い方") %>

<div class="container">
<div class="row">
  <div class="page-title">
    <h1>サービスの使い方</h1>
  </div>
  <div class="howtouse">
    <h2>1. PC/スマホでサイトにアクセスします</h2>
    <p class="img_center">
       <%= image_tag "top_page.png", class: "howtouse-image" %>
    </p>
  </div>
  <div class="howtouse">
    <h2>2. アカウントを作ります</h2>
    <p class="img_center">
    <%= image_tag "create_account.png", class: "howtouse-image" %>
    </p>
  </div>
  <div class="howtouse">
    <h2>3. 銀行口座を登録します</h2>
    <p class="img_center">
    <%= image_tag "register_bankaccount.png", class: "howtouse-image" %>
    </p>
  </div>
  <div class="howtouse">
    <h2>4. イベントを登録します</h2>
    <p class="img_center">
    <%= image_tag "create_event.png", class: "howtouse-image" %>
    </p>
  </div>
  <div class="howtouse">
    <h2>5. 当日にイベントを開催します</h2>
    <p class="img_center">
    <%= image_tag "event_detail.png", class: "howtouse-image" %>
    </p>
  </div>
  <div class="howtouse">
    <h2>注釈</h2>
    <p>*1 イベント参加者はイベント参加費をクレジットカードで支払います</p>
    <p>*2 イベント参加費は月末時点の合計額からサイト利用料10%を差し引いて翌月末にイベントホストの銀行口座に入金します</p>
  </div>
</div>
</div>