<div class="container">
  <div class="row">
    <div class="col-12 col-sm-3">
      <%= render "shared/sidebar_organizer" %>
    </div>
    
    <div class='col-12 col-sm-9 content'>
      <div class="page-title">
        <h1>予約したイベント</h1>
      </div>
      
      <%= render "reserves/serach_event" %>
      
      <div class="event-box">
        <% if @reserves.present? %>
        <% @reserves.each do |reserve| %>
        <% @event = reserve.event %>
        <% @deadline = to_date_and_time(@event.start_date, @event.start_time) %>
        <div class="event-box__info box-wrap">
          <div class="event-box__payed">
            <% if @deadline >= Time.zone.now %>
            <p class="pink-btn">これから参加</p>
            <% else %>
            <p class="blue-btn">すでに終了</p>
            <% end %>
            <% if reserve.payed %>
            <p class="blue-btn">支払い済み</p>
            <% else %>
            <p class="pink-btn">未払い</p><br>
            <%= link_to "お支払いへ進む", pays_new_withoutresistration_path(reserve_id: reserve.id), data: {"turbolinks" => false} %>
            <% end %>
          </div>
          <div class="event-box__info-title">
            <h1><%= @event.title %></h1>
          </div>
          <div class="event-box__detail">
            <table>
              <tr>
                <th><i class="fa fa-clock-o" aria-hidden="true"></i> 日時</th>
                <td><%= @event.start_date.strftime("%-m月%-d日") %><%= day_of_the_week(@event.start_date.strftime("%u")) %> 　<%= @event.start_time.strftime("%H:%M") %>～</td>
              </tr>
              <tr>
                <th><i class="fa fa-bookmark-o" aria-hidden="true"></i> 参加費</th>
                <td><%= @event.price.to_s(:delimited) %> 円</td>
              </tr>
              <tr>
                <th><i class="fa fa-user-o" aria-hidden="true"></i> 定員</th>
                <td><%= @event.capacity %> 名</td>
              </tr>
              <tr>
                <th><i class="fa fa-user-secret" aria-hidden="true"></i> 主催者</th>
                <td><%= @event.user.nickname %></td>
              </tr>
              <tr>
                <th><i class="fa fa-info-circle" aria-hidden="true"></i> 内容</th>
                <td><%= @event.content %></td>
              </tr>
            </table>
            <div class="event-box__img event-box__img-confirm">
              <% @event.imgs.each do |img| %>
                <%= image_tag img, class:"event-img wide-img-hover" %>
              <% end %>
              <% if @event.imgs.size == 0 %>
                <%= image_tag "NoImage.png", class:"event-img" %>
                <%= image_tag "NoImage.png", class:"event-img" %>
                <%= image_tag "NoImage.png", class:"event-img" %>
              <% elsif @event.imgs.size == 1 %>
                <%= image_tag "NoImage.png", class:"event-img" %>
                <%= image_tag "NoImage.png", class:"event-img" %>
              <% elsif @event.imgs.size == 2 %>
                <%= image_tag "NoImage.png", class:"event-img" %>
              <% end %>
            </div>
            <% if reserve.payed %>
            <div class="event-box__participate-info">
              <p class="event-box__participate-label dark-grey-btn">イベント参加</p>
              <% if @event.venue_method == "online" %>
              <p>開催時間になったら、以下URLよりイベントへご参加ください。</p>
              <table>
                <tr>
                  <th>Zoom ID</th>
                  <td><a href="<%= @event.venue %>" target="_blank" rel="noopener noreferrer"><%= @event.venue %></a></td>
                </tr>
                <tr>
                  <th>Zoom Password</th>
                  <td><%= @event.venue_pass %></td>
                </tr>
              </table>
              <% elsif @event.venue_method == "offline" %>
              <p>開催時間までに下記開催場所へ集合してください。</p>
              <table>
                <tr>
                  <th>開催場所</th>
                  <td><%= @event.venue %></td>
                </tr>
              </table>
              <% end %>
              <% if @deadline >= Time.zone.now %>
              <div class="event-box__participate-btn">
                <p><%= button_to "キャンセルする", reserf_path(reserve.id), method: :delete, data: {confirm: "本当にキャンセルしてよろしいですか？", cancel: "やめる", commit: "確定"}, title: "予約のキャンセル", class:"submit-btn blue-btn btn-hover" %></p>
              </div>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
        <% end %>
        <%= paginate(@reserves) %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
$(function(){
  var screenWidth = window.parent.screen.width;
  console.log(screenWidth);
  
  if(screenWidth < 575 ){
    $(".event-box__img-confirm").slick({
      dots: true
    });
  }else{
    $(".event-box__img-confirm").slick({
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 3
    });
  } 
});
</script>