<div class="user">
  <div class="page-title">
    <h1>新規ユーザー登録</h1>
  </div>
  <div class="user-form">
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "shared/error_notice", model: resource %>
    <div class="user-form__box">
      <p><i class="fa fa-user-o" aria-hidden="true"></i></p>
      <%= f.text_field :nickname, autofocus: true, placeholder: "名前", class: "" %>
    </div>
 
    <div class="user-form__box">
      <p><i class="fa fa-lock" aria-hidden="true"></i></p>
      <% if @minimum_password_length %>
        <% @caution = @minimum_password_length.to_s + "文字以上" %>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class: "" %>
    </div>
    <div class="user-form__box">
      <p><i class="fa fa-lock" aria-hidden="true"></i></p>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード（確認）", class: "" %>
    </div>
    <div class="user-form__submit-box">
      <p style="text-align: left;"><%= link_to "利用規約", term_path %>、<%= link_to "プライバシーポリシー", privacy_path %>に同意して</p>
      <%= f.submit "ユーザー登録", class:"wide-submit-btn btn-hover orange-btn" %>
    </div>
    <% end %>
    
    <div class="user-form__link user-form__notice">
      <p>アカウントをお持ちの方はこちら</p>
      <p class="">
        <%= link_to "ログイン", new_user_session_path, class:"wide-submit-btn btn-hover grey-btn" %>
      </p>
    </div>
    
  </div>
</div>  
