<div class="user">
  <div class="page-title">
    <h1>新規ユーザー登録</h1>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="user-form">
    <div class="user-form__box">
      <%= f.label :nickname, "ニックネーム" %>
      <%= f.text_field :nickname, autofocus: true, class: "form-control" %>
    </div>
    <div class="user-form__box">
      <%= f.label :email, "E-mail" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>  
    <div class="user-form__box">
      <%= f.label :password, "パスワード" %>
      <% if @minimum_password_length %>
      <em>&#x203B;<%= @minimum_password_length %> 文字以上</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>
    <div class="user-form__box">
      <%= f.label :password_confirmation, "パスワード（確認）" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>
    <div class="user-form__submit-box">
      <%= f.submit "登録", class:"submit-btn btn-hover blue-btn" %>
    </div>
    <% end %>
  
    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>  