<div class='event-area'>
      <div class='event-box'>
        <p>開催日時：<%= event.start.strftime("%-m月%-d日(%a) %H:%M %p") %></p>
        <p>イベント：<%= event.title %></p>
        <p>開催場所：<%= event.venue %></p>
        <p>定　員　：<%= event.capacity %>人</p>
        <p>主催者　：<%= event.user.nickname %></p>

        <p><%= link_to '詳細', "/events/#{event.id}", method: :get, class: 'event-button' %>

       <% if user_signed_in? && current_user.id == event.user_id %>
          <%= link_to '削除', "/events/#{event.id}", method: :delete, class: 'event-button' %></p>
        <% end %>
      </div>
      
    <div class'event-image'>
      <% if "#{event.image}" == "#{event.title}-#{event.user_id}.jpg" %>
        <span><%= image_tag event.image %></span>
      <% else %>
       <span><%= image_tag "noimage.jpg" %></span>
      <% end %>
    </div>

</div>