<!--参加予約-->

<script>
$(function(){
  var attendForm = `
    <div id="event-attend-form">
    <div class="event-attend-form">
      <div class="event-attend__top">
        <h3><i class="fa fa-thumb-tack" aria-hidden="true"></i> イベントの予約</h3>
        <p class="btn-hover" id="event-attend-form-close">&times;</p>
      </div>
      <% if flash["notice"].present? %>
        <p><%= flash["notice"] %></p>
      <% end %>
      
      <% if user_signed_in? %>
      <div class="event-attend__detail">
        <h4><i class="fa fa-user" aria-hidden="true"></i> 参加者情報</h4>
        <div class="event-attend__detail-info">
          <table>
            <tr>
              <th>ニックネーム</th>
              <td><%= current_user.nickname %></td>
            </tr>
            <tr>
              <th>E-mail</th>
              <td><%= current_user.email %></td>
            </tr>
          </table>
        </div>
      </div>
      <% end %>
      
      <div class="event-attend__detail">
        <h4><i class="fa fa-info-circle" aria-hidden="true"></i> イベント詳細</h4>
        <div class="event-attend__detail-info">
          <table>
            <tr>
              <th>イベント名</th>
              <td><%= @event.title %></td>
            </tr>
            <tr>
              <th>開催日時</th>
              <td><%= @event.start_date.strftime("%-m月%-d日(%a)") %>　<%= @event.start_time.strftime("%H:%M") %>～</td>
            </tr>
            <tr>
              <th>参加費</th>
              <td><%= @event.price.to_s(:delimited) %> 円</td>
            </tr>
            <tr>
              <th>定員</th>
              <td><%= @event.capacity %> 名</td>
            </tr>
            <tr>
              <th>主催者</th>
              <td><%= @event.user.nickname %></td>
            </tr>
          </table>
        </div>
        <% if user_signed_in? %>
        <div class="event-attend__submit-box">
          <%= button_to "予約する", event_reserves_path(@event.id), remote: true, class:"submit-btn blue-btn btn-hover" %>
        </div>
        <% else %>
        <div class="event-attend__select">
          <li class="blue-btn btn-hover" id="with-resistration">ユーザー登録もする</li>
          <li class="unselect-btn btn-hover" id="without-resistration">今はしない</li>
          <p>アカウントをお持ちの方 <%= link_to "ログイン", user_session_path %></p>
        </div>
        <div class="event-attend__form" id="event-attend__form-with">
        <%= form_with(model: @user, url: event_create_with_resistration_path(@event.id)) do |f| %>
          <div class="event-attend__form-box">
            <p><i class="fa fa-user-o" aria-hidden="true"></i></p>
            <%= f.text_field:nickname, placeholder: "ニックネーム" %>
          </div>
          <div class="event-attend__form-box">
            <p><i class="fa fa-envelope-o" aria-hidden="true"></i></p>
            <%= f.text_field:email, placeholder: "E-mail" %>
          </div>
          <div class="event-attend__form-box">
            <p><i class="fa fa-lock" aria-hidden="true"></i></p>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード（6文字以上）"  %>
          </div>
          <div class="event-attend__form-box">
            <p><i class="fa fa-lock" aria-hidden="true"></i></p>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード（確認）" %>
          </div>
          <div class="event-attend__submit-box">
            <%= f.submit "予約する", class:"submit-btn blue-btn btn-hover" %>
          </div>
        <% end %>
        </div>
        <% end %>
      </div>
    </div>
    </div>`
  
  // ユーザー登録込みのフォーム  
  var formWithResistration = `
    <div class="event-attend__form" id="event-attend__form-with">
    <%= form_with(model: @user, url: event_create_with_resistration_path(@event.id)) do |f| %>
      <div class="event-attend__form-box">
        <p><i class="fa fa-user-o" aria-hidden="true"></i></p>
        <%= f.text_field:nickname, placeholder: "ニックネーム" %>
      </div>
      <div class="event-attend__form-box">
        <p><i class="fa fa-envelope-o" aria-hidden="true"></i></p>
        <%= f.text_field:email, placeholder:"E-mail" %>
      </div>
      <div class="event-attend__form-box">
        <p><i class="fa fa-lock" aria-hidden="true"></i></p>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード" %>
      </div>
      <div class="event-attend__form-box">
        <p><i class="fa fa-lock" aria-hidden="true"></i></p>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード（確認）" %>
      </div>
      <div class="event-attend__submit-box">
        <%= f.submit "予約する", class:"submit-btn blue-btn btn-hover"  %>
      </div>
    <% end %>
    </div>`  
  
  // ユーザー登録なしのフォーム
  var formWithoutResistration = `
    <div class="event-attend__form" id="event-attend__form-without">
    <%= form_with(model: @reserve, url: event_reserves_path(@event.id)) do |f| %>
      <div class="event-attend__form-box">
        <p><i class="fa fa-user-o" aria-hidden="true"></i></p>
        <%= f.text_field:nickname, placeholder: "ニックネーム" %>
      </div>
      <div class="event-attend__form-box">
        <p><i class="fa fa-envelope-o" aria-hidden="true"></i></p>
        <%= f.email_field:email, placeholder: "E-mail" %>
      </div>
      <div class="event-attend__submit-box">
        <%= f.submit "予約する", class:"submit-btn blue-btn btn-hover" %>
      </div>
    <% end %>
    </div>`
  
  
  
  
  $("#event-attend").on("click", function(){
    $.when(
      $("#display").animate({opacity: .8}, 300)
    ).done(function(){
      $("#event-attend").after(attendForm);
      $("#display").css("display", "");
      
      // closeボタンを押したとき
      $("#event-attend-form-close").on("click", function(){
        $.when(
          $("#display").animate({opacity: 0}, 300),
          $("#event-attend-form").animate({opacity: 0}, 300)
        ).done(function(){
          $("#event-attend-form").remove();
          $("#display").css("display", "none");
        }); 
      });
      
      
      // ユーザー登録も行うボタンを押したとき
      $("#with-resistration").on("click", function(){
        var className = $(this).attr("class");
        if(className.indexOf("unselect-btn") > -1){
          $(this).removeClass("unselect-btn");
          $(this).addClass("blue-btn");
          $("#without-resistration").removeClass("blue-btn");
          $("#without-resistration").addClass("unselect-btn");
          $("#event-attend__form-without").remove();
          $(".event-attend__detail").append(formWithResistration);
        }
      });
      
      // ユーザー登録は行わないボタンを押したとき
      $("#without-resistration").on("click", function(){
        var className = $(this).attr("class");
        if(className.indexOf("unselect-btn") > -1){
          $(this).removeClass("unselect-btn");
          $(this).addClass("blue-btn");
          $("#with-resistration").removeClass("blue-btn");
          $("#with-resistration").addClass("unselect-btn");
          $("#event-attend__form-with").remove();
          $(".event-attend__detail").append(formWithoutResistration);
        }
      });
    });
  });
});  
</script>