<!--参加予約-->

<script>
$(function(){
  var attendForm = `
    <div id="event-attend-form">
    <div class="event-attend-form">
      <div class="event-attend__content">
      <div class="event-attend__top">
        <h3><i class="fa fa-thumb-tack" aria-hidden="true"></i> イベントの予約</h3>
        <p class="btn-hover" id="event-attend-form-close">&times;</p>
      </div>
      
      <% if user_signed_in? %>
      <div id="error-notice"></div>
      <div class="event-attend__detail">
        <h4><i class="fa fa-user" aria-hidden="true"></i> 参加者情報</h4>
        <div class="event-attend__detail-info">
          <table>
            <tr>
              <th>ニックネーム</th>
              <td><%= current_user.nickname %></td>
            </tr>
            <tr>
              <th>E-mail</th>
              <td><%= current_user.email %></td>
            </tr>
          </table>
        </div>
      </div>
      <% end %>
      
      <div class="event-attend__detail">
        <h4><i class="fa fa-info-circle" aria-hidden="true"></i> イベント詳細</h4>
        <div class="event-attend__detail-info">
          <table>
            <tr>
              <th>イベント名</th>
              <td><%= @event.title %></td>
            </tr>
            <tr>
              <th>開催日時</th>
              <td><%= @event.start_date.strftime("%-m月%-d日") %><%= day_of_the_week(@event.start_date.strftime("%u")) %> <%= @event.start_time.strftime("%H:%M") %>～</td>
            </tr>
            <tr>
              <th>参加費</th>
              <td><%= @event.price.to_s(:delimited) %> 円</td>
            </tr>
            <tr>
              <th>定員</th>
              <td><%= @event.capacity %> 名</td>
            </tr>
            <tr>
              <th>ホスト</th>
              <td><%= @event.user.nickname %></td>
            </tr>
          </table>
          <div id="error-notice"></div>
        </div>
        <% if user_signed_in? %>
        <div class="event-attend__submit-box">
          <p><%= link_to "利用規約", term_path %>、<%= link_to "プライバシーポリシー", privacy_path %>に同意の上 </p>
          <% if @card.present? %>
          <%= button_to "予約する", event_reserves_path(@event.id), remote: true, class:"submit-btn orange-btn btn-hover", title: "イベント予約・支払い", data: {confirm: "イベントの予約、登録されたクレジットカードによる支払いを行ってよろしいでしょうか？", cancel: "やめる", commit: "確定"} %>
          <% else %>
          <%= button_to "予約する", event_reserves_path(@event.id), remote: true, class:"submit-btn orange-btn btn-hover", title: "イベント予約", data: {confirm: "イベントの予約を行ってよろしいでしょうか？", cancel: "やめる", commit: "確定"} %>
          <% end %>
        </div>
        <% else %>
        <div class="event-attend__select">
          <input type="checkbox" id="select-registration"></input>
          <label for="select-registration">ユーザー登録も一緒に行う</label>
          <p>（アカウントをお持ちの方 <%= link_to "ログイン", user_session_path %>）</p>
        </div>
        <div class="event-attend__form" id="event-attend__form-without">
        <%= form_with(model: @reserve, url: event_reserves_path(@event.id)) do |f| %>
          <div class="event-attend__form-box">
            <p><i class="fa fa-user-o" aria-hidden="true"></i></p>
            <%= f.text_field:nickname, placeholder: "ニックネーム" %>
          </div>
          <div class="event-attend__form-box">
            <p><i class="fa fa-envelope-o" aria-hidden="true"></i></p>
            <%= f.email_field:email, placeholder: "E-mail" %>
          </div>
          <div class="event-attend__submit-box">
            <p><%= link_to "利用規約", term_path %>、<%= link_to "プライバシーポリシー", privacy_path %>に同意の上 </p>
            <%= f.submit "予約する", class:"submit-btn orange-btn btn-hover", title: "イベント予約", data: {confirm: "イベントの予約を行ってよろしいでしょうか？", cancel: "やめる", commit: "確定"} %>
          </div>
        <% end %>
        </div>
        <% end %>
      </div>
    </div>
    </div>
    </div>`
  
  // ユーザー登録込みのフォーム  
  var formWithResistration = `
    <div class="event-attend__form" id="event-attend__form-with">
    <%= form_with(model: @user, url: event_create_with_resistration_path(@event.id)) do |f| %>
      <div class="event-attend__form-box">
        <p><i class="fa fa-user-o" aria-hidden="true"></i></p>
        <%= f.text_field:nickname, placeholder: "ニックネーム" %>
      </div>
      <div class="event-attend__form-box">
        <p><i class="fa fa-envelope-o" aria-hidden="true"></i></p>
        <%= f.text_field:email, placeholder:"E-mail" %>
      </div>
      <div class="event-attend__form-box">
        <p><i class="fa fa-lock" aria-hidden="true"></i></p>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード" %>
      </div>
      <div class="event-attend__form-box">
        <p><i class="fa fa-lock" aria-hidden="true"></i></p>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード（確認）" %>
      </div>
      <div class="event-attend__submit-box">
        <p><%= link_to "利用規約", term_path %>、<%= link_to "プライバシーポリシー", privacy_path %>に同意の上 </p>
        <%= f.submit "予約・ユーザー登録する", class:"submit-btn orange-btn btn-hover", title: "イベント予約・新規ユーザー登録", data: {confirm: "イベントの予約および新規ユーザー登録を行ってよろしいでしょうか？", cancel: "やめる", commit: "確定"}  %>
      </div>
    <% end %>
    </div>`  
  
  // ユーザー登録なしのフォーム
  var formWithoutResistration = `
    <div class="event-attend__form" id="event-attend__form-without">
    <%= form_with(model: @reserve, url: event_reserves_path(@event.id)) do |f| %>
      <div class="event-attend__form-box">
        <p><i class="fa fa-user-o" aria-hidden="true"></i></p>
        <%= f.text_field:nickname, placeholder: "ニックネーム" %>
      </div>
      <div class="event-attend__form-box">
        <p><i class="fa fa-envelope-o" aria-hidden="true"></i></p>
        <%= f.email_field:email, placeholder: "E-mail" %>
      </div>
      <div class="event-attend__submit-box">
        <p><%= link_to "利用規約", term_path %>、<%= link_to "プライバシーポリシー", privacy_path %>に同意の上 </p>
        <%= f.submit "予約する", class:"submit-btn orange-btn btn-hover", title: "イベント予約", data: {confirm: "イベントの予約を行ってよろしいでしょうか？", cancel: "やめる", commit: "確定"} %>
      </div>
    <% end %>
    </div>`

  $("#event-attend").on("click", function(){
    $.when(
      $("#display").animate({opacity: .8}, 300)
    ).done(function(){
      $("#event-attend").after(attendForm);
      $("#display").css("display", "");
      
      // closeボタンを押したとき
      $("#event-attend-form-close").on("click", function(){
        $.when(
          $("#display").animate({opacity: 0}, 300),
          $("#event-attend-form").animate({opacity: 0}, 300)
        ).done(function(){
          $("#event-attend-form").remove();
          $("#display").css("display", "none");
        }); 
      });
      
      // チェックボックスのクリックをしたとき
      $("#select-registration").on("change", function(){
        var flag = $("#select-registration").prop("checked");

        if (flag){
          var countWithRegistration = $("#event-attend__form-with").length;
          if(countWithRegistration == 0){
            $("#event-attend__form-without").remove();
            $(".event-attend__detail").append(formWithResistration);
          }
        }else{
          var countWithoutRegistration = $("#event-attend__form-without").length;
          if(countWithoutRegistration == 0){
            $("#event-attend__form-with").remove();
            $(".event-attend__detail").append(formWithoutResistration);
          }
        }
      });
      
    });
  });
});  
</script>