<div class="top-search box-wrap">
  <div class="top-search__header">
    <p>イベントを探す</p>
  </div>
  
  <div class="top-search__wrap">
  <%= form_with(url: root_path, method: :get, data: {remote: false}) do |f| %>
  <div class="top-search__box">
    <p><i class="fa fa-calendar" aria-hidden="true"></i> 日付</p>
    <div class="top-search__form-box">
      <%= f.date_field:date, value: params[:date] %>
    </div>
  </div>
  <div class="top-search__box">
    <p><i class="fa fa-bookmark-o" aria-hidden="true"></i> 参加費</p>
    <div class="top-search__price-box">
      <%= f.number_field:min, value: params[:min], placeholder: "min", class:"form-control form-control-lg" %>
      <p>～</p>
      <%= f.number_field:max, value: params[:max], placeholder: "max", class:"form-control form-control-lg" %>
    </div>
  </div>
  <div class="top-search__box">
    <p><i class="fa fa-lightbulb-o" aria-hidden="true"></i> キーワード</p>
    <div class="top-search__form-box">
      <%= f.text_field:keyword, value: params[:keyword], placeholder: "検索ワードを入力", class:"form-control form-control-lg" %>
    </div>
  </div>
  <div class="top-search__box">
    <p><i class="fa fa-map-pin" aria-hidden="true"></i> 開催形式</p>
    <div class="top-search__form-box top-search__venue-method-wrap">
      <%= f.hidden_field:venue_method, value: params[:venue_method], id:"venue_method" %>
      <div class="top-search__venue-method">
        <%= f.label:online, "オンラインのみ" %>
        <%= f.check_box :online, id:"method-online", class:"form-control form-control-lg" %>
      </div>
      <div class="top-search__venue-method">
        <%= f.label:offline, "オフラインのみ" %>
        <%= f.check_box :offline, id:"method-offline", class:"form-control form-control-lg" %>
      </div>
    </div>
  </div>
  <div class="top-search__submit-box">
    <%= f.submit "検索", class:"submit-btn btn-hover pink-btn" %>
  </div>
  <% end %>
  </div>
</div>



<script>
$(function(){
  <% if params[:venue_method] == "online" %>
  $("#method-online").prop("checked", true);
  <% elsif params[:venue_method] == "offline" %>
  $("#method-offline").prop("checked", true);
  <% end %>
  
  $("#method-online").on("change", function(){
    var online = $('#method-online').prop('checked');
    if (online){
      $("#venue_method").val("online");
      $("#method-offline").prop("checked", false);
    }
  });
  $("#method-offline").on("change", function(){
    var offline = $('#method-offline').prop('checked');
    if(offline){
      $("#venue_method").val("offline");
      $("#method-online").prop("checked", false);
    }
  });
  $("input[type=checkbox]").on("change", function(){
    var online = $('#method-online').prop('checked');
    var offline = $('#method-offline').prop('checked');
    if(offline || online){
    }else{
      $("#venue_method").val("");
    }
  });
});  
</script>