<div class="top-search box-wrap">
  <div class="top-search__header">
    <p>イベントを探す</p>
  </div>
  
  <div class="top-search__wrap">
  <%= form_with(url: root_path, method: :get, data: {remote: false}) do |f| %>
  <div class="top-search__box">
    <p>日付から探す</p>
    <div>
      <%= f.date_field:date %>
    </div>
  </div>
  <div class="top-search__box">
    <p>費用から探す</p>
    <div class="">
      <%= f.number_field:min %>
    </div>
    <p>～</p>
    <div class="">
      <%= f.number_field:max %>
    </div>
  </div>
  <div class="top-search__submit-box">
    <%= f.submit "検索" %></p>
  </div>
  <% end %>
  </div>
</div>