<% provide(:title, '') %>
<% provide(:content, '') %>

<%= render "shared/flash" %>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-3">
      <%= render "shared/sidebar_organizer" %>
    </div>
    
    <div class="col-12 col-sm-9">
      <div class="page-title">
        <h1>登録したイベントの確認</h1>
      </div>  
      
      <div class='event'>
        <% @events.each do |event| %>
        <div class="event-box box-wrap">
          <div class="event-box__btn">
            <p><%= link_to "編集する", "/events/#{event.id}/edit", method: :get, class:"grey-btn" %></p>
            <p><%= link_to "削除する", "/events/#{event.id}", method: :delete, class:"grey-btn" %></p>
          </div>
          <div class='event-box__detail'>
            <p><span>開催日時</span><%= event.start_date %><%= event.start_time %></p>
            <p><span>イベント</span><%= event.title %></p>
            <p><span>開催場所</span><%= event.venue %></p>
            <p><span>定員</span><%= event.capacity %></p>
          </div>
          <div class="event-box__img">
            <span><%= image_tag 'Cooking_sample.jpg' %></span>
          </div>
          <div class="event-box__reserve">
            <p>5人：現在の予約者</p>
            <p><%= link_to "予約者の情報を確認する", event_path(event.id) %></p>
          </div>
          </div>
          <% end %>
      </div>
    </div>
</div>

