<div class="container">
  <div class="row">
    <div class="col-12 col-sm-3">
      <%= render "shared/sidebar_organizer" %>
    </div>
    <div class="col-12 col-sm-9">
      <div class="page-title">
        <h1>イベント情報の編集</h1>
      </div>
      <% if flash["notice"].present? %>
        <p><%= flash["notice"] %></p>
      <% end %>
      <div class="event">
        <%= form_with(model:@event, url: event_path, method: :patch) do |f| %>
          <div class="event-form">
            <%= f.label:title, "イベント名" %>
            <%= f.text_field:title, class:"form-control form-control-lg" %>
          </div>
          <div class="event-form">
            <%= f.label:start, "開催日" %>
            <%= f.text_field:start, class:"form-control form-control-lg" %>
          </div>
          <div class="event-form">
            <%= f.label:price, "費用" %>
            <%= f.number_field:price, class:"form-control form-control-lg" %>
          </div>
          <div class="event-form">
            <%= f.label:venue, "ズームID" %>
            <%= f.text_field:venue, class:"form-control form-control-lg" %>
          </div>
          <div class="event-form">
            <%= f.label:content, "イベント内容" %>
            <%= f.text_area:content, class:"form-control form-control-lg event-form-content", placeholder: "開催するイベントの内容を書いてください" %>
          </div>
          <div class="event-form">
            <%= f.label:capacity, "定員" %>
            <%= f.number_field:capacity, class:"form-control form-control-lg" %>
          </div>
          <div class="event-submit">
            <%= f.submit "編集完了", class:"btn" %>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>
</div>