
<%= render "shared/flash" %>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-3">
      <%= render "shared/sidebar_organizer" %>
    </div>  
  
    <div class='col-12 col-sm-9 event'>
      <div class="page-title">
        <h1>イベント作成</h1>
      </div>
      
      <div class="event">
        <%= form_with(model: @event, url: events_path, method: :post, data: { remote: false }) do |f| %>
          <div class="event-form">
            <%= f.label:title, "イベント名" %>
            <%= f.text_field:title, class:"form-control form-control-lg" %>
          </div>
          <div class="event-form event-form-date">
            <%= f.label:start_date, "開催日時" %>
            <%= f.date_field:start_date, class:"form-control" %>
            <%= f.time_select:start_time, {}, class:"form-control", ignore_data:true %>
          </div>
          <div class="event-form">
            <%= f.label:venue, "ズームID" %>
            <%= f.text_field:venue, class:"form-control form-control-lg" %>
          </div>
          <div class="event-form">
            <%= f.label:content, "イベント内容" %>
            <%= f.text_area:content, class:"form-control form-control-lg event-form-content", placeholder: "開催するイベントの内容を書いてください" %>
          </div>
          <div class="event-form">
            <%= f.label:capacity, "定員" %>
            <%= f.number_field:capacity, class:"form-control form-control-lg" %>
          </div>
          <div class="event-form">
            <%= f.label:price, "費用" %>
            <%= f.number_field:price, class:"form-control form-control-lg" %>
          </div>
          <div class="event-form">
            <%= f.label:imgs, "画像" %>
            <%= f.file_field:imgs, multiple: true, direct_upload: true, class:"form-control form-control-lg" %>
          </div>
          <div class="event-submit">
            <%= f.submit "イベント作成", class:"submit-btn blue-btn btn-hover" %>
          </div>
        <% end %>
      </div>
    </div>
    
  </div>
</div>