<div class='event'>
  <div class='event-area'>
  <div class='event-form'>
  <%= form_for( '/events', method: :post )  do |f| %>
    <h3>
      イベントを作成します
    </h3>
    <p>イベント名：<%= f.text_field :title %></p>
    <p>開催日時：<%= f.datetime_select :start %></p>
    <p>開催場所：<%= f.text_field :venue %></p>
    <p>イベント内容：</p>
    <%= f.text_area :content,  placeholder: 'イベントの内容を書いてください！', style: 'width: 400px; height: 200px;' %>
    <p>定　員：<%= f.number_field :capacity, min: 1, style: 'width: 40px; height: 20px;' %>人</p>
    <p>画　像：<%= f.file_field :image %></p>
    <p>※画像ファイルは400px x 300px 以内のJEPG形式でお願いします</p>
    <p><%= f.submit 'イベント作成', class: 'event-button' %></p>
    
  <% end %>
  </div>
  </div>
</div>