<% provide(:title, "イベント作成") %>

<%= render "shared/flash" %>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-3">
      <%= render "shared/sidebar_organizer" %>
    </div>  
  
    <div class='col-12 col-sm-9 content'>
      <div class="page-title">
        <h1>イベント作成</h1>
      </div>
      
      <div class="event">
        <div id="error-notice"></div>
        <%= form_with(model: @event, url: events_path, method: :post) do |f| %>
          <div class="event-form">
            <label for="event_title">イベント名<br><span class="pink-btn form-necessary">必須</span></label>
            <%= f.text_field:title, class:"form-control form-control-lg" %>
          </div>
          <div class="event-form event-form-date">
            <label for="event_start_date">開催日時<br><span class="pink-btn form-necessary">必須</span></label>
            <%= f.date_field:start_date, class:"form-control" %>
            <%= f.time_select:start_time, {}, class:"form-control", ignore_data:true %>
          </div>
          <div class="event-form">
            <label for="event_content">イベント内容<br><span class="pink-btn form-necessary">必須</span></label>
            <%= f.text_area:content, class:"form-control form-control-lg event-form-content", placeholder: "開催するイベントの内容を書いてください" %>
          </div>
          <div class="event-form" id="event-method">
            <label>開催形式<br><span class="pink-btn form-necessary">必須</span></label>
            <%= f.hidden_field:venue_method, value: "online", id: "venue-method" %>
            <ul>
              <li>
                <label for="event-method-online" style="width:100%">オンライン</label>
                <input id="event-method-online" type="checkbox" checked=""></input>
              </li>
              <li>
                <label for="event-method-offline" style="width:100%">オフライン</label>
                <input id="event-method-offline" type="checkbox"></input>
              </li>
            </ul>
          </div>
          <div class="event-form event-form-online">
            <label for="event_venue">Zoom ID<br><span class="pink-btn form-necessary">必須</span></label>
            <%= f.text_field:venue, class:"form-control form-control-lg" %>
          </div>
          <div class="event-form event-form-online">
            <label for="event_venue_pass">Zoom Password<br><span class="pink-btn form-necessary">必須</span></label>
            <%= f.text_field:venue_pass, class:"form-control form-control-lg" %>
          </div>
          <div class="event-form">
            <label for="event_capacity">定員<br><span class="pink-btn form-necessary">必須</span></label>
            <%= f.number_field:capacity, class:"form-control form-control-lg" %>
          </div>
          <div class="event-form">
            <label for="event_price">参加費<br><span class="pink-btn form-necessary">必須</span></label>
            <%= f.number_field:price, class:"form-control form-control-lg" %>
          </div>
          <div class="event-form">
            <label for="event_imgs">画像<br><span class="pink-btn form-necessary">必須</span></label>
            <label class="event-form__img-field" for="img-file"><span class="submit-btn orange-border-btn"><i class="fa fa-image" aria-hidden="true"></i> 画像をアップロード</span></label>
            <%= f.file_field:imgs, multiple: true, class:"", id:"img-file", style:"display:none" %>
          </div>
          <div id="event-form__img"></div>
          <div class="event-submit">
            <%= f.submit "イベント作成", class:"submit-btn orange-btn btn-hover" %>
          </div>
        <% end %>
      </div>
    </div>
    
  </div>
</div>




<script>
$(function(){
  var dataBox = new DataTransfer();
  var file_field = $('input[type=file]');
  $('#img-file').change(function(){
    var files = $('input[type="file"]').prop('files')[0];
    $.each(this.files, function(i, file){
      var fileReader = new FileReader();
      dataBox.items.add(file);
      file_field.files = dataBox.files;
      var num = $('.item-image').length + 1 + i
      fileReader.readAsDataURL(file);

      if (num == 7){
        $('#image-box__container').css('display', 'none');   
      }
  
      fileReader.onloadend = function() {
        var src = fileReader.result;
        var imgBox= 
          `<div class="event-form__img-wrap item-image" data-image="${file.name}">
            <div class="event-form__img-box">
              <img src=${src} class="event-form__img">
            </div>
            <div class="event-form__img-remove" onclick="">
              <p><i class="fa fa-remove btn-hover" aria-hidden="true"></i></p>
            </div>
          </div>`
          
        $('#event-form__img').append(imgBox);
      };
      $('#image-box__container').attr('class', `item-num-${num}`);
    });
  });
  
  //削除関連
  $(document).on("click", '.event-form__img-remove', function(){
    var target_image = $(this).parent();
    var target_name = $(target_image).data('image')
    
    if(file_field.files.length == 1){
      $("input[type=file]").val(null);
      dataBox.clearData();
    }else{
      
      $.each(file_field.files, function(i,input){
        if(input.name == target_name){
          dataBox.items.remove(i);
        }
      });
      file_field.files = dataBox.files;
    }
    target_image.remove();
    var num = $('.item-image').length;
    $('#image-box__container').show();
    $('#image-box__container').attr('class', `item-num-${num}`);
  });

});
</script>
<script>
$(function(){
  
// オンライン・オフラインスイッチング
  var online = `
    <div class="event-form event-form-online">
      <label for="event_venue">Zoom ID<br><span class="pink-btn form-necessary">必須</span></label>
      <input class="form-control form-control-lg" type="text" name="event[venue]" id="event_venue">
    </div>
    <div class="event-form event-form-online">
      <label for="event_venue_pass">Zoom Password<br><span class="pink-btn form-necessary">必須</span></label>
      <input class="form-control form-control-lg" type="text" name="event[venue_pass]" id="event_venue_pass">
    </div>`
    
  var offline = `
    <div class="event-form event-form-offline">
      <label for="event_venue">開催場所<br><span class="pink-btn form-necessary">必須</span></label>
      <input class="form-control form-control-lg" type="text" name="event[venue]" id="event_venue">
      <input class="form-control form-control-lg" type="hidden" value="none" name="event[venue_pass]" id="event_venue_pass">
    </div>`
    
  $("#event-method-online").on("change", function(){
    var count = $(".event-form-online").length;
    if(count == 0){
      $("#event-method-offline").prop('checked', false);
      $(".event-form-offline").remove();
      $("#event-method").after(online);
      $("#venue-method").val("online");
    } else {
      $("#event-method-online").prop('checked', true);
    }
  });
  
  $("#event-method-offline").on("change", function(){
    var count = $(".event-form-offline").length;
    if(count == 0){
      $("#event-method-online").prop('checked', false);
      $(".event-form-online").remove();
      $("#event-method").after(offline);
      $("#venue-method").val("offline");
    } else {
      $("#event-method-offline").prop('checked', true);
    }
  });
});  
</script>