<% provide(:title, '') %>
<% provide(:content, '') %>


<div class="event">
  <div class="event-box">
    <div class="event-box__info box-wrap">
      <div class="event-box__info-title">
        <h1><%= @event.title %></h1>
      </div>
      <div class="event-box__detail">
        <p><span><i class="fa fa-clock-o" aria-hidden="true"></i> 日時</span><%= @event.start %></p>
        <p><span><i class="fa fa-user-o" aria-hidden="true"></i> 定員</span><%= @event.capacity %> 名</p>
        <p><span><i class="fa fa-bookmark-o" aria-hidden="true"></i> 費用</span><%= @event.price.to_s(:delimited) %> 円</p>
        <p><span><i class="fa fa-user-secret" aria-hidden="true"></i> 主催者</span><%= @event.user.nickname %></p>
        <p><span><i class="fa fa-info-circle" aria-hidden="true"></i> 内容</span><%= @event.content %></p>
      </div>
      
      <div class="event-box__img">
        <span><%= image_tag 'Cooking_sample.jpg' %></span>
      </div>
  
      <div class="event-box__attend">
        <% if @event.capacity > @reserves.size %>  
        <p class="event-box__attend-btn blue-btn btn-hover" id="event-attend">このイベントに参加する</p>
        <%= render "events/resistration", collection: @event %>
        <% else %>
        <p class="event-box__attend-btn pink-btn">こちらのイベントは満席です</p>
        <% end %>
      </div>
    </div>
    
    <div class="event-box__participate">
      <h3><i class="fa fa-user-circle-o" aria-hidden="true"></i> 参加者一覧（<%= @reserves.size %> 名）</h3>
      <ul>
        <% @reserves.each do |reserve| %>
        <li><%= reserve.nickname %></li>
        <% end %>
      </ul>
    </div>
  
  </div>
</div>


