<% provide(:title, @event.title) %>
<% provide(:content, @event.content) %>
<%= render "shared/flash" %>

<div class="content">
  <div class="event-box">
    <div class="event-box__info box-wrap">
      <div class="event-box__info-title">
        <h1><%= @event.title %></h1>
      </div>
      <div class="event-box__detail">
      <table>
        <tr>
          <th><i class="fa fa-clock-o" aria-hidden="true"></i> 日時</th>
          <td><%= @event.start_date.strftime("%-m月%-d日") %><%= day_of_the_week(@event.start_date.strftime("%u")) %> <%= @event.start_time.strftime("%H:%M") %>～</td>
        </tr>
        <tr>
          <th><i class="fa fa-bookmark-o" aria-hidden="true"></i> 参加費</th>
          <td><%= @event.price.to_s(:delimited) %> 円</td>
        </tr>
        <tr>
          <th><i class="fa fa-user-o" aria-hidden="true"></i> 定員</th>
          <td><%= @event.capacity %> 名</td>
        </tr>
        <tr>
          <th><i class="fa fa-group" aria-hidden="true"></i> 参加者</th>
          <td><span class="event-box__reserve"><%= @reserves.size %> 名</span></td>
        </tr>
        <tr>
          <th><i class="fa fa-user-secret" aria-hidden="true"></i> ホスト</th>
          <td><span class="host-info link"><%= @event.user.nickname %></span></td>
        </tr>
        <tr>
          <% if @event.venue_method == "online" %>
          <th><i class="fa fa-desktop" aria-hidden="true"></i> 開催形式</th>
          <td>オンライン</td>
          <% elsif @event.venue_method == "offline" %>
          <th><i class="fa fa-map-pin" aria-hidden="true"></i> 開催場所</th>
          <td><%= @event.venue %></td>
          <% end %>
        </tr>
        <tr>
          <th><i class="fa fa-info-circle" aria-hidden="true"></i> 内容</th>
          <td><%= simple_format(@event.content) %></td>
        </tr>
      </table>
      <div class="event-box__img event-box__img-confirm">
        <% @event.imgs.each do |img| %>
          <%= image_tag img, class:"event-img wide-img-hover" %>
        <% end %>
        <% if @event.imgs.size == 0 %>
          <%= image_tag "NoImage.png", class:"event-img" %>
          <%= image_tag "NoImage.png", class:"event-img" %>
          <%= image_tag "NoImage.png", class:"event-img" %>
        <% elsif @event.imgs.size == 1 %>
          <%= image_tag "NoImage.png", class:"event-img" %>
          <%= image_tag "NoImage.png", class:"event-img" %>
        <% elsif @event.imgs.size == 2 %>
          <%= image_tag "NoImage.png", class:"event-img" %>
        <% end %>
      </div>
      </div>
      <div class="event-box__attend">
        <% if @event.capacity > @reserves.size %>  
        <p class="event-box__attend-btn orange-btn btn-hover" id="event-attend">このイベントに参加する</p>
        <%= render "events/resistration", collection: @event %>
        <% else %>
        <p class="event-box__attend-btn pink-btn">こちらのイベントは満席です</p>
        <% end %>
      </div>
    </div>
    
    <% if user_signed_in? && current_user.id == @event.user_id && params[:list] %>
    <div class="event-box__participate">
      <h3><i class="fa fa-user-circle-o" aria-hidden="true"></i> 参加者一覧（<%= @reserves.size %> 名）</h3>
      <table>
        <tr>
          <th>支払い状況</th>
          <th>ニックネーム</th>
        </tr>
        <% @reserves.each do |reserve| %>
        <tr>
          <td class="event-box__payornot"><% if reserve.payed %><span class="blue-btn">支払い済</span><% else %><span class="pink-btn">支払い未</span><% end %></td>
          <td><%= reserve.nickname %></td>
        </tr>
        <% end %>
      </table>
      <% if @reserves.empty? %>
        <p>予約はまだありません。</p>
      <% end %>
    </div>
    <% end %>
    <div style="display: none;" class="event-box__hostinfo-box"></div>
  </div>
</div>



<script>
$(function(){
  var screenWidth = window.parent.screen.width;
  
  if(screenWidth < 575 ){
    $(".event-box__img-confirm").slick({
      dots: true
    });
  }else{
    $(".event-box__img-confirm").slick({
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 3
    });
  }
  
  
  var hostinfo = 
  `<div class="event-box__hostinfo">
    <div class="event-box__hostinfo-title"><span>プロフィール</span><p class="btn-hover" id="event-box__hostinfo-close">×</p></div>
    <div class="event-box__hostinfo-content">
      <% if @event.user.image.attached? %><%= image_tag @event.user.image %><% else %><%= image_tag "NoImage.png" %><% end %>
      <p class="event-box__hostinfo-name"><%= @event.user.nickname %></p>
    </div>
    <div class="event-box__hostinfo-content">
      <p class="event-box__hostinfo-subtitle">自己紹介</p>
      <div class=""><%= simple_format(@event.user.profile) %></div>
    </div>  
  </div>`
  
  $(".host-info").on("click", function(){
    $.when(
      $("#display").css("display", ""),
      $(".event-box__hostinfo-box").css("display", "")
    ).done(function(){
      $("#display").css("opacity", .8);
      $(".event-box__hostinfo-box").append(hostinfo);
      
      $("#event-box__hostinfo-close").on("click", function(){
        $("#display").css("display", "none");
        $(".event-box__hostinfo-box").css("display", "none");
        $(".event-box__hostinfo").remove();
      });
    });
  });
  
});
</script>


