<!--top画像表示-->
<div class="top">
  <div class="top-img">
    <%= image_tag "top.jpg" %>
  </div>
  <!--検索バー-->
  <%= render "events/search_event" %>
</div>



<div class="container">
  <div class="page-title">
    <h1>お探しのイベントは？</h1>
  </div>

  <div class="">
    <!--各イベント表示-->
    <div class="event-top">
      <% @events.each do |event| %>
      <div class="event-top__box box-wrap">
        <div class="event-top__header" style="width: 100%;">
          <p class="pink-btn">募集中</p>
        </div>
        <div class="event-top__img">
          <% event.imgs.each do |img| %>
            <%= image_tag img, class:"event-img" %>
          <% end %>
          <% if event.imgs.empty? %>
            <%= image_tag "NoImage.png", class:"event-img" %>
          <% end %>
        </div>
        <div class="event-top__detail">
          <h2><%= event.title %></h2>
          <p><span><i class="fa fa-clock-o" aria-hidden="true"></i> 開催日時</span><%= event.start_date.strftime("%-m月%-d日(%a)") %>　<%= event.start_time.strftime("%H:%M") %>～</p>
          <p><span><i class="fa fa-bookmark-o" aria-hidden="true"></i> 参加費</span><%= event.price.to_s(:delimited) %> 円</p>
        </div>
        
        <div class="event-top__btn">
          <p class=""><%= link_to "詳細をみる", event_path(event.id), class:"wide-submit-btn btn-hover blue-btn" %></p>
        </div>
      </div>
      <% end %>
      <%= paginate(@events) %>
    </div>
  </div>
</div>



<script>
$(function() {
  $(".event-top__img").slick({
      dots: true,
  });
});  
</script>