<!--top画像表示-->
<%= render "shared/flash" %>
<div class="top">
  <div class="top-img">
    <%= image_tag "top.jpg" %>
  </div>
  <!--検索バー-->
  <%= render "events/search_event" %>
</div>



<div class="container">
  <div class="">
    <!--各イベント表示-->
    <div class="event-top">
      <div class="page-title">
        <h1>お探しのイベントは？</h1>
      </div>
      
      <% if @events.size == 0 %>
      <% if params[:commit].present? %>
      <div class="event-top__result event-top__result-zero">
        <p>検索条件にマッチするイベントは、現在のところ予定されておりません。</p>
      </div>
      <% else %>
      <div class="event-top__result event-top__result-zero">
        <p>現在登録されているイベントはありません。</p>
      </div>
      <% end %>
      <% else %>
      <% if params[:commit].present? %>
      <div class="event-top__result event-top__result-not-zero">
        <p>条件にマッチしたイベントが見つかりました！</p>
      </div>
      <% end %>
      <% end %>
      
      
      
      <% @events.each do |event| %>
      <div class="event-top__box box-wrap">
        <div class="event-top__header" style="width: 100%;">
          <p class="pink-btn">募集中</p>
          <% if event.venue_method == "online" %>
          <p class="orange-btn">オンライン</p>
          <% elsif event.venue_method == "offline" %>
          <p class="blue-btn">オフライン</p>
          <% end %>
        </div>
        <div class="event-top__img">
          <% event.imgs.each do |img| %>
            <%= image_tag img, class:"event-img wide-img-hover" %>
          <% end %>
          <% if event.imgs.empty? %>
            <%= image_tag "NoImage.png", class:"event-img" %>
          <% end %>
        </div>
        <div class="event-top__detail">
          <h2><%= event.title %></h2>
          <table>
            <tr>
              <th><i class="fa fa-clock-o" aria-hidden="true"></i> 開催日時</th>
              <td><%= event.start_date.strftime("%-m月%-d日") %><%= day_of_the_week(event.start_date.strftime("%u")) %> <%= event.start_time.strftime("%H:%M") %>～</td>
            </tr>
            <tr>
              <th><i class="fa fa-bookmark-o" aria-hidden="true"></i> 参加費</th>
              <td><%= event.price.to_s(:delimited) %> 円</td>
            </tr>
          </table>
        </div>
        
        <div class="event-top__btn">
          <p class=""><%= link_to "詳細をみる", event_path(event.id), class:"wide-submit-btn btn-hover orange-btn" %></p>
        </div>
      </div>
      <% end %>
      <%= paginate(@events) %>
    </div>
  </div>
</div>



<script>
$(function() {
  $(".event-top__img").slick({
    dots: true
  });
});  
</script>