<!--top画像表示-->
<div class="top">
  <div class="top-img">
    <%= image_tag "top.jpg" %>
  </div>
  <!--検索バー-->
  <%= render "events/search_event" %>
</div>



<div class="container">
  <div class="page-title">
    <h1>お探しのイベントは？</h1>
  </div>

  <div class="">
    <!--各イベント表示-->
    <div class="event">
      <% @events.each do |event| %>
      <div class="event-box box-wrap">
        <div class="event-box__header" style="width: 100%;">
          <p class="pink-btn">募集中</p>
          <h3><%= event.title %></h3>
        </div>
        <div class="event-box__detail">
          <p><span><i class="fa fa-clock-o" aria-hidden="true"></i> 日付</span><%= event.start_date.strftime("%-m月%-d日(%a)") %></p>
          <p><span><i class="fa fa-bookmark-o" aria-hidden="true"></i> 費用</span><%= event.price.to_s(:delimited) %> 円</p>
          <p><span><i class="fa fa-user-o" aria-hidden="true"></i> 定員</span><%= event.capacity %> 名</p>
          <p><span><i class="fa fa-user-secret" aria-hidden="true"></i> 主催者</span><%= event.user.nickname %></p>
        </div>
        
        <div class="event-box__img">
          <%= image_tag 'Cooking_sample.jpg' %>
        </div>
        
        <div class="event-box__btn">
          <p class=""><%= link_to "詳細をみる", event_path(event.id), class:"btn-hover blue-btn" %></p>
        </div>
      </div>
      <% end %>
      <%= paginate(@events) %>
    </div>
  </div>
</div>