<div class="container">
<div class="row">
  <div class="payment">
    <div class="page-title">
      <h1>イベントのキャンセル</h1>
    </div>
    <div class="payment-box">
      <p>お支払いいただくことで、参加登録が完了します。表示された情報をご確認いただき、お支払いをお願いいたします。</p>
      <p></p>
    </div>
    <div class="payment-box">
      <h2><i class="fa fa-user" aria-hidden="true"></i> お客様の情報</h2>
      <table>
        <tr>
          <th>ニックネーム</th>
          <td>a</td>
        </tr>
        <tr>
          <th>E-mail</th>
          <td>a@gmail.com</td>
        </tr>
      </table>  
    </div>
    <div class="payment-box">
      <h2><i class="fa fa-bookmark-o" aria-hidden="true"></i> 予約したイベント</h2>
      <table>
        <tr>
          <th>イベント名</th>
          <td><%= @event.title if @event.present? %></td>
        </tr>
        <tr>
          <th>開催日時</th>
          <td><%= @event.start_date if @event.present? %></td>
        </tr>
        <tr>
          <th>費用</th>
          <td><%= @event.price if @event.present? %></td>
        </tr>
        <tr>
          <th>定員</th>
          <td><%= @event.capacity if @event.present? %></td>
        </tr>
        <tr>
          <th>主催者</th>
          <td><%= User.find(@event.organizer) if @event.present? %></td>
        </tr>
      </table>
    </div>
    <div class="payment-box">
      <h2><i class="fa fa-credit-card" aria-hidden="true"></i> カード情報の登録</h2>
      <p>有効なカード情報の入力を行ってください。</p>
      <%= form_with(model: @pay, url: pays_create_withoutresistration_path) do |f| %>
      
      <script
        type="text/javascript"
        src="https://checkout.pay.jp/"
        class="payjp-button"
        data-key="pk_test_0383a1b8f91e8a6e3ea0e2a9"
        data-submit-text="トークンを作成する"
        data-partial="true">
      </script>
      <div class="payment-box__submit">
        <%= f.submit "支払いする", class: "blue-btn wide-submit-btn btn-hover" %>
      </div>
      <% end %>
    </div>
  </div>
  
</div>  
</div>