<% provide(:title, "口座情報登録") %>

<%= render "shared/flash" %>
<div class="container">
<div class="row">
  <div class="col-12 col-sm-3">
    <%= render "shared/sidebar_organizer" %>
  </div>
  <div class="col-12 col-sm-9 content">
    <div class="page-title">
        <h1>イベントホスト向け口座情報登録</h1>
    </div>
    <div class="pay">
      <% if @tenant.present? %>
      <div class="pay-form__notice">
        <p>口座情報は登録されています。登録した銀行口座は<%= link_to "口座情報確認", user_pays_hostinfo_path %>から確認してください。</p>
      </div>
      <% else %>
      <div class="pay-form">
        <div class="pay-form__notice">
          <p>売り上げを入金する銀行口座を設定してください。</p>
        </div>
        <%= form_with(url: user_pays_host_path, data:{remote: false}) do |f| %>
          <div class="pay-form__box">
            <%= f.label:bank_code, "銀行コード" %>
            <%= f.number_field:bank_code, class:"form-control" %>
          </div>
          <div class="pay-form__box">
            <%= f.label:bank_branch_code, "支店コード" %>
            <%= f.number_field:bank_branch_code, class:"form-control" %>
          </div>
          <div class="pay-form__box">
            <%= f.label:bank_account_type, "預金種別" %>
            <%= f.select:bank_account_type, {'普通': "普通", '当座': "当座"}, {}, class:"form-control" %>
          </div>
          <div class="pay-form__box">
            <%= f.label:bank_account_number, "口座番号" %>
            <%= f.number_field:bank_account_number, class:"form-control" %>
          </div>
          <div class="pay-form__box">
            <%= f.label:bank_account_holder_name, "口座名義" %>
            <%= f.text_field:bank_account_holder_name, class:"form-control" %>
          </div>
          <div class="pay-form__submit-box">
            <%= f.submit "登録する", class:"submit-btn orange-btn btn-hover" %>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>    
</div>