<% provide(:title, "お支払い") %>

<%= render "shared/flash" %>
<div class="container">
<div class="row">
  <div class="payment">
    <div class="page-title">
      <h1>お支払い</h1>
    </div>
    <div class="payment-box">
    <% if @reserve.payed %>
      <p class="wide-submit-btn pink-btn">すでに参加費は支払い済みです！</p>
    <% elsif to_date_and_time(@event.start_date, @event.start_time) <= Time.zone.now.to_date &&  %>
      <p class="wide-submit-btn pink-btn">イベント開催日時がすでに過ぎています。</p>
    <% else %>
      <p>お支払いいただくことで、参加登録が完了します。表示された情報に間違いがないことをご確認いただき、お支払いをお願いします。</p>
      <% unless @reserve.present? %>
      <p class="wide-submit-btn pink-btn">イベント情報の取得が正常にできておりません。誠に恐れ入りますが、再度ご予約いただくか運営までご連絡ください。</p>
      <% end %>
    <% end %>
    </div>
    <div class="payment-box">
      <h2><i class="fa fa-user" aria-hidden="true"></i> お客様の情報</h2>
      <table>
        <tr>
          <th>ニックネーム</th>
          <td><%= @reserve.nickname if @reserve.present? %></td>
        </tr>
        <tr>
          <th>E-mail</th>
          <% if @reserve.present? %>
          <% @size = @reserve.email.size.to_i - 2 %>
          <td><%= @reserve.email[0, 2] %><%= "*"*@size %></td>
          <% end %>
        </tr>
      </table>  
    </div>
    <div class="payment-box">
      <h2><i class="fa fa-bookmark-o" aria-hidden="true"></i> 予約したイベント</h2>
      <table>
        <tr>
          <th>イベント名</th>
          <td><%= @event.title if @event.present? %></td>
        </tr>
        <tr>
          <th>開催日時</th>
          <td><%= @event.start_date.strftime("%Y年%m月%d日") if @event.present? %> <%= @event.start_time.strftime("%H:%M～") if @event.present? %></td>
        </tr>
        <tr>
          <th>費用</th>
          <td><%= @event.price.to_s(:delimited) if @event.present? %> 円</td>
        </tr>
        <tr>
          <th>定員</th>
          <td><%= @event.capacity if @event.present? %> 名</td>
        </tr>
        <tr>
          <th>主催者</th>
          <td><%= User.find(@event.user_id).nickname if @event.present? %></td>
        </tr>
      </table>
    </div>
    <% unless @reserve.payed || to_date_and_time(@event.start_date, @event.start_time) <= Time.zone.now.to_date %>
    <div class="payment-box">
      <h2><i class="fa fa-credit-card" aria-hidden="true"></i> カード情報の登録</h2>
      <p>有効なカード情報の入力を行ってください。</p>
      <%= form_with(url: pays_create_withoutresistration_path, data: {remote: false}) do |f| %>
      <%= f.hidden_field:reserve_id, value: @reserve.id  if @reserve.present? %>
      <script
        type="text/javascript"
        src="https://checkout.pay.jp/"
        class="payjp-button"
        data-key="<%= ENV["PAYJP_KEY"] %>"
        data-submit-text="カードを登録する"
        data-partial="true">
      </script>
      <div class="payment-box__submit">
        <%= f.submit "支払いする", class: "orange-btn wide-submit-btn btn-hover" %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  
</div>  
</div>