<div class="footer">
  <nav>
    <ul>
      <li><%= link_to "ホーム", root_path %></li>
      <% unless user_signed_in? %>
      <li><%= link_to "新規ユーザー登録", new_user_registration_path %></li>
      <li><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>
      <li><%= link_to "使い方", howtouse_path %></li>
      <li><%= link_to "問い合わせ", contact_path %></li>
      <li><%= link_to "特定商取引法に基づく表記", tokushohyo_path %></li>
      <li><%= link_to "プライバシーポリシー", privacy_path %></li>
      <li><%= link_to "利用規約", term_path %></li>
      <li></li>
    </ul>
  </nav>  
  <div class="footer-copyright">
    <p>Copyright ©2020 Realtime Social All Right Reserved. </p>
  </div>
</div>