<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="discription" content="<%= meta_discription(yield(:content)) %>">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render "layouts/header" %>
    <%= yield %>
    <div id="display" style="display:none; opacity:0;"></div>
    <%= render "layouts/footer" %>
  </body>
</html>
